.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid purple;
  text-align: center;
  border: 10px solid #7729b8;
}

.form-group {
  margin-bottom: 10px;
}

.result-group {
  margin-top: 20px;
}
.swap-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #002854;
  filter: invert(50%);

}

.swap-button img {
  width: 20px;
  height: 20px;
}
.icon  {
  width: 2em;
  height: 2em;
}
